@font-face {
    font-family: Spartan;
    src: url('./assets/LeagueSpartan-VariableFont_wght.ttf');
}



:root {
    --DesaturatedDarkCyan: hsl(180, 29%, 50%);
    --ShadowCyan: hsla(180, 29%, 50%, 0.301);
    --LigtBGCyan: hsl(180, 52%, 96%);
    --LightFilterCyan: hsl(180, 31%, 95%);
    --DarkCyan: hsl(180, 8%, 52%);
    --VeryDarkCyan: hsl(180, 14%, 20%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--LigtBGCyan);
    font-family: Spartan;
    font-size: 15px;
}

/* #app {
    text-align: center;
    margin: 0 auto ;
    padding: 0;
    font-family: Spartan;
    font-size: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1440px;
    box-sizing: border-box;
} */

#header {
    height: 156px;
    width: 100%;
    background: var(--DesaturatedDarkCyan);
    background-image: url("./assets/bg-header-desktop.svg");
    position: fixed;
    z-index: -1;
}

#container {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: column;
    padding-top: 120px;
}

.no-tag-box {
    height: 60px;
    margin-bottom: 0.5rem;
}

/* ANT DESIGN */

.space {
    display: flex !important;
    padding-top: 120px !important;
}

.ant-space-item {
    display: flex;
    justify-content: center;
}